# Ignore ambientes virtuais
venv/
env/
.Venv/
ENV/
.venv/
env.bak/
venv.bak/

# Ignore arquivos compilados do Python
*.py[cod]
__pycache__/
*.so

# Ignore logs e arquivos temporários
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignore arquivos de configurações do IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore arquivos de teste
htmlcov/
.tox/
.coverage
.coverage.*

# Ignore arquivos de build
build/
dist/
*.egg-info/

# Ignore arquivos de banco de dados locais
*.db
*.sqlite3

# Ignore arquivos de dados grandes
data/
*.csv
*.json
*.geojson
*.shp
*.dbf
*.prj
*.shx

# Ignore chaves e credenciais
*.pem
*.key
.env
